<!-- <div class="row">
  ■ <div class="col-xs-10">
    <app-shopping-edit1></app-shopping-edit1>
    <hr>
    <ul class="list-group">
    <a class="list-group-item" style="cursor: pointer"></a>
    </ul>
  ■ </div>
  </div> -->
<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit2></app-shopping-edit2>
    <hr>
    <ul class="list-group">
      <li
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>

